<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/helpers.js"></script>
    <title>Edit Note</title>
</head>
<body>
<div align="center">
    <h1 class="display-4">Edit Note</h1>
    <br/>
    <form name="noteForm" action="#" th:action="@{/save}" th:object="${note}"
          method="post" onsubmit="return validateForm()">

            <div hidden class="form-group w-50">
                <textarea class="form-control" id="noteID" rows="1" th:field="*{id}"></textarea>
            </div>

        <div class="form-group w-50">
            <label for="noteName">Note Name</label>
            <textarea class="form-control" id="noteName" rows="1" th:field="*{name}"></textarea>
            <small id="name help" class="form-text text-muted">Enter the updated note name</small>
        </div>

        <div class="form-group w-50">
            <label for="noteText">Note Name</label>
            <textarea class="form-control" id="noteText" rows="1" th:field="*{text}"></textarea>
            <small id="text help" class="form-text text-muted">Enter the updated note text</small>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-primary" href="./" role="button">Cancel</a>
    </form>
</div>
=
</body>
</html>